@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo2-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2';
    src: url('../fonts/Exo2-MediumItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/ofont.ru_Helvetica\ Neue.ttf');
    font-weight: normal;
    font-style: normal;
}